.projects {
  padding: 0%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #262f3a;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #d8e9e9;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 2;
  margin-top: 0.5rem;
}

.project-card h2 {
  font-size: 1rem;
  color: #d8e9e9;
  margin: 0;
}

.project-card p {
  font-family: 'Avenir Next LT Pro Demi';
  font-size: 1rem;
  color: #d8e9e9;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
  padding: 1.5rem;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-description {
  flex: 1 1 100%;
  min-width: 200px;
}

.project-image {
  width: 15vw;
  height: auto;
  border-radius: 5px;
  object-fit: scale-down;
  flex-shrink: 0;
  margin-left: 1rem;
}

.project-dropdown {
  margin-bottom: 1rem;
  width: 100%;
}

.project-title {
  font-family: 'Avenir Next LT Pro Demi';
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #262f3a;
  color: #d8e9e9;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title:hover {
  background-color: #d8e9e9;
  color: #262f3a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #1c232b;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #262f3a;
  border: 1px solid #262f3a;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.dropdown-item {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: #d8e9e9;
}

.dropdown-item:hover {
  background-color: #d8e9e9;
  color: #262f3a;
}

.github-icon {
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
}

.add-project {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.add-button {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: #262f3a;
  color: #d8e9e9;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 0;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #d8e9e9;
  color: #262f3a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  background-color: #262f3a;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  color: #d8e9e9;
  z-index: 2;
}

.modal-content h3 {
  margin-top: 0;
  color: #d8e9e9;
  text-align: center;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #475569;
  border-radius: 4px;
  background-color: #334155;
  color: #d8e9e9;
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
  color: #c5c9d1;
}

.modal-content input:focus,
.modal-content textarea:focus {
  outline: none;
  border-color: #d8e9e9;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-button {
  background-color: #2f3b4c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #64748b;
}

.error-message {
  color: #f87171;
  margin-top: 1rem;
}

.project-content {
  display: flex;
  gap: 1rem;
}

@media (min-width: 600px) {
  .project-card {
    flex-wrap: nowrap;
  }

  .project-description {
    flex: 1;
  }
}

@media (max-width: 768px) {
p {
    font-family: 'Avenir Next LT Pro Ultra Light';
    font-size: 0.75rem;
  }

  h3 {
    font-family: 'Avenir Next LT Pro Ultra Light';
    font-size: 0.85rem;
  }

  h1 {
    font-family: 'Avenir Next LT Pro Demi';
    font-size: 1rem;
  }

  h2 {
    font-family: 'Avenir Next LT Pro Demi';
  }

  h4 {
    font-family: 'Avenir Next LT Pro Demi';
    font-size: 0.75rem;
  }

  a {
    font-family: 'Avenir Next LT Pro Demi';
    font-size: 0.85rem;
  }

  button {
    font-family: 'Avenir Next LT Pro Demi';
    font-size: 0.85rem;
  }

  .project-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #262f3a;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #d8e9e9;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 2;
  margin-top: 0.5rem;
}

.project-card h2 {
  font-size: 0.75rem;
  color: #d8e9e9;
  margin: 0;
}

.project-card p {
  font-family: 'Avenir Next LT Pro Demi';
  font-size: 0.85rem;
  color: #d8e9e9;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
  padding: 1.5rem;
}
}